<h2>Create a new thread</h2>
<div id="root" *ngIf="board">
  <table cellpadding="1" cellspacing="1">
    <tbody>
      <tr>
        <td><b>Name</b></td>
        <td><input type="text" [(ngModel)]="name" size="28"></td>
      </tr>
      <tr>
        <td><b>E-mail</b></td>
        <td><input type="text" [(ngModel)]="email" size="28"></td>
      </tr>
      <tr>
        <td><b>Subject</b></td>
        <td>
          <input type="text" [(ngModel)]="sub" size="35">
          <button (click)="onSubmit()">Submit</button>
        </td>
      </tr>
      <tr>
        <td><b>Comment</b></td>
        <td><textarea [(ngModel)]="com" cols="48" rows="4" wrap="soft"></textarea></td>
      </tr>
      <tr>
        <td><b>File</b></td>
        <td><input type="file" #upfile></td>
      </tr>
      <tr>
        <td><b>Captcha</b></td>
        <td>
          <app-captcha-form></app-captcha-form>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <small>
            <li>Supported file types are: GIF, JPG, PNG, WebP</li>
            <li>Maximum file size allowed is {{(board.filesize_limit / 1024) | number:'1.0-0'}} KB.</li>
            <li>Images greater than 250x250 pixels will be thumbnailed.</li>
          </small>
          <li><small>Protect your username, use tripcodes</small></li>
        </td>
      </tr>
      <tr class="error" *ngIf="error">
        <td colspan="2">
          <p> Error - {{error}} </p>
        </td>
      </tr>
    </tbody>
  </table>
</div>