/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #f1f3ee;
    color: #800000;
}

#gradient {
    background-image: linear-gradient(#fed6af, #f1f3ee);
    position: absolute;
    z-index: -999;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
}

.quote {
    color: #789922;
}

a, a:visited {
    color: #00e;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: red!important;
}


blockquote a {
    color: #008;
    text-decoration: underline;
}

blockquote a:hover {
    cursor: pointer;
}

.error {
    background-color: red;
    color: white;
    font-weight: bold;
}

.sub {
    color: red;
    font-weight: bold;
}